* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 24px;
  background-color: #0D192C;
  color: #8BACD9;
}

.card {
  width: 327px;
  height: 543px;
  border-radius: 15px;
  background-color: #15263F;
  padding: 22px;
}

.image-container {
  width: 278px;
  height: 278px;
  border-radius: 8px; 
}

.title {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 22px;
}

.text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  font-size: 18px;
  line-height: 26px;
  width: 278px;
  height: 52px;
}

.text-container {

}

.ethereum {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #00FFF8;
  font-size: 15px;
}

.avatar-container {
  width: 219px;
  height: 33px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.time {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}

.creation {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #8BACD9;
  font-size: 15px;
}

.img-avatar {
  width: 33px;
  height: 33px;
}

.name {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 15px 
}

.container {
  width: 278px;
  height: 19px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.ethereum-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88.48px;
  height: 19px;
}

.time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92.69px;
  height: 19px;
}
